<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="appContainer">
      <%- include("header") %>
      <main>
        <div class="itemsContainer">
          <div class="reduce">
            <div class="filterUsing">
              <label for="filter">Filter:</label>
              <select name="filter" id="filter">
                <option value="all">All Products</option>
                <option value="men's clothing">Men's Clothing</option>
                <option value="jewelery">Jewelery</option>
                <option value="electronics">Electronics</option>
                <option value="women's clothing">Women's Clothing</option>
              </select>
            </div>
          </div>

          <div class="items">
            <% if (locals.items) items.forEach(item => { %>
            <div class="item" itemId="<%= item.id %>">
              <div class="image"><img src="<%= item.image_url %>" alt="" /></div>
              <div class="title"><%= item.title %></div>
              <div class="description"><%= item.description %></div>
              <div class="category"><%= item.category %></div>
              <div class="price"><%= item.price %></div>
            </div>
            <% }); %>
          </div>
        </div>
      </main>
      <%- include("footer") %>
    </div>
  </body>
</html>
